
@{
    ViewBag.Title = "Dashboard | Elsa Giyim";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">@ViewBag.SirketAdi</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/Admin">Dashboard</a></li>
                <li class="active">@ViewBag.SirketAdi</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-md-4 offset-4">
            <h1 style="text-align: center">Elsa Giyim Yönetim Paneli</h1>
        </div>
    </div>
</div>


