@model List<FashionStore.Entity.Entities.Category>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategoriler</a>
    <ul class="dropdown-menu megamenu">
        <li>
            <div class="megamenu-wrap">
                <div class="row">
                    @foreach (var category in Model)
                    {
                        <div class="col-md-3 megamenu-item">
                            <h6>@category.Name</h6>
                            <ul class="menu-list">
                                @{
                                    var child = category.ChildCategories.Where(x => !x.Deleted && x.ShowOnTopMenu).OrderBy(x => x.DisplayOrder).ToList();
                                }
                                @foreach (var childCategory in child)
                                {
                                    <li><a href="/kategori/@childCategory.SeoUrl">@childCategory.Name</a></li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </li>
    </ul>
</li> <!-- end categories -->
