@model IEnumerable<FashionStore.Entity.Entities.ContentPage>
<div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
    <div class="widget footer-links">

        <ul class="list-no-dividers">
            @foreach (var page in Model)
            {
                if (page.ShowOnFooterColumn1)
                {
                    <li><a href="/icerik/@page.SeoUrl">@page.Title</a></li>
                }
            }
        </ul>

    </div>
</div>
<div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
    <div class="widget footer-links">
        <ul class="list-no-dividers">
            @foreach (var page in Model)
            {
                if (page.ShowOnFooterColumn2)
                {
                    <li><a href="/icerik/@page.SeoUrl">@page.Title</a></li>
                }
            }
        </ul>
    </div>
</div>
<div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
    <div class="widget footer-links">
        <ul class="list-no-dividers">

            @foreach (var page in Model)
            {
                if (page.ShowOnFooterColumn3)
                {
                    <li><a href="/icerik/@page.SeoUrl">@page.Title</a></li>
                }
            }

        </ul>
    </div>
</div>
