@model FashionStore.Entity.Entities.Setting
<ul class="col-sm-2 text-right top-bar-currency-language">
    <li>
        <div class="social-icons">
            <a href="https://@Model.TwitterUrl"><i class="fa fa-twitter"></i></a>
            <a href="https://@Model.FacebookUrl"><i class="fa fa-facebook"></i></a>
            <a href="https://@Model.GoogleUrl"><i class="fa fa-google-plus"></i></a>
            <a href="https://@Model.InstagramUrl"><i class="fa fa-instagram"></i></a>
            <a href="https://@Model.PinterestUrl"><i class="fa fa-pinterest"></i></a>
        </div>
    </li>
</ul>
