
@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- Breadcrumbs -->
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="#">Pages</a>
        </li>
        <li class="active">
            404
        </li>
    </ol> <!-- end breadcrumbs -->
</div>


<!-- 404 -->
<section class="section-wrap page-404">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h1>404</h1>
                <h2 class="mb-50"> Sayfa Bulunamadı</h2>
                <p class="mb-20">Ulaşmaya çalışmış olduğunuz sayfa kaldırılmış veya başka bir yere taşınmıştır.</p>
                <form class="relative">
                    <input type="search" placeholder="Search" class="mb-0">
                    <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

    </div>
</section> <!-- end 404 -->
